

  body, html {
    margin: 0;
    padding: 0;
    background-color: #555555;
  }
  
  /* Styling the #root element */
  #root {
    position: relative;
    width: 100vw; /* Full width of viewport */
    height: 100vh; /* Full height of viewport */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  h1 {
    margin: 30px;
  }

  .bordered {
    border: 5px solid black;
  }

  #gameboy {
    background-color: #cbd1cf;
    width: 600px;
    height: 750px;
    border-radius: 25px 25px 90px 25px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 100;
  }

  #screen {
    width: 100%;
    min-height: 430px;
    height: 430px;
    background-color: white;
    border-radius: 10px 10px 50px 10px;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .poke-list-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: grid;
    column-count: auto auto auto;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    background-color: rgba(0, 128, 0, 0.5);
    z-index: 0;
    border-radius: 5px 5px 5px 5px;
  }

  #pokemon-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
    z-index: -10;
  }

  .current-poke-display {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(2.5);
    bottom: 0;
    left: 40px;
  }

  .other-poke-display {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #battle-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 40px 5px;
    background-color: black;
    z-index: 20;
  }

  .battle-inferface {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px 5px 40px 5px;
  }

  .blattle-interface-wrapper{
    width: 100%;
    height: 70px;
    background-color: goldenrod;
    border: 2px black solid;
    border-radius: 5px 5px 40px 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blattle-text{
    width: 100%;
    height: 100%;
    border: 2px white solid;
    background-color: #355067;
    border-radius: 3px 3px 40px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
  }

  .battle-start-button {
    height: fit-content;
    width: 75px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border: 5px #504f4e solid;
    background-color: #f8f7da;
    transition: all 0.2s ease-in-out;
  }

  .battle-start-button:hover {
    transform: scale(1.1);
  }
  
  .battle-text-wrapper {
    width: 100%;
    text-align: left;
  }

  #interface {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .control-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    padding-left: 25px;
  }

  #dpad-wrapper, #buttons {
    width: 250px;
    height: 250px;
  }
  
  #dpad-wrapper {
    position: relative;
    transform: scale(0.9);
  }

  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

.dpad-button {
  position: absolute;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 100%);
  border: none;
  border-radius: 15px;
  margin: 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  transition: scale 0.2s ease-in;
}

  .dpad-button:hover{
    background-color: #3D3D3D;
  }

  .dpad-button:active{
    transform: scale(0.9);
  }

  #button-1, #button-3 {
    width: 80px;
    height: 40px;

  }

  #button-2, #button-4 {
    width: 40px;
    height: 80px;
  }

  #button-1 {
    bottom: 37%;
    left: 8%;
  }

  #button-2 {
    left: 102px;
    bottom: 8%;
  }

  #button-3 {
    bottom: 37%;
    right: 10%;
  }

  #button-4 {
    left: 102px;
    top: 41px;
  }

  .button-wrapper {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.25) rotate(-20deg);
  }

  .red-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .red-button-text {
    text-align: center;
    font-size: 14px;
  }

.red-button {
  width: 55px;
  height: 55px;
  margin: 0px 15px 0px 15px;
  border-radius: 100%;
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(204,0,0,1) 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  transition: scale 0.2s ease-in-out;
}

  .red-button:hover {
    transform: scale(1.1);
  }

  .red-button:active {
    transform: scale(1);
  }

  #lower-interface {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pause-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transform: scale(1.1) rotate(-35deg);
  }

  .pause-button {
    width: 55px;
    height: 15px;
    border: none;
    background: radial-gradient(circle, rgba(52, 53, 56, 1) 0%, rgba(30, 30, 33, 1) 100%);
    border-radius: 20px;
    transition: scale 0.2s ease-in;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

  .pause-button:hover {
    background-color: black;
  }

  .pause-button:active {
    transform: scale(0.85);
  }

  .pause-button-text {
    text-align: center;
    width: 55px;
    height: fit-content;
    letter-spacing: 1px;
  }

.poke-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: start;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.poke-card:hover {
  transform: scale(1.15);
}

.poke-sprite {
  width: 100%;
  height: 100%;
  display: block;
}

.poke-name {
  margin: 0;
  font-size: large;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
